* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button {
  font-family: Roboto, serif;
}

body {
  background-image: radial-gradient( circle farthest-corner at 32.7% 82.7%,  rgba(173,0,171,1) 8.3%, rgba(15,51,92,1) 79.4% );
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  background-color: gainsboro;
  color: #000;
}

button.primary {
  background-color: #0d6efd;
  color: #fff;
}

button.secondary {
  background-color: #6c757d;
  color: #fff;
}

button.success {
  background-color: #198754;
  color: #fff;
}

button.danger {
  background-color: #dc3545;
  color: #fff;
}

button.warning {
  background-color: #ffc107;
  color: #000;
}

button.info {
  background-color: #0dcaf0;
  color: #000;
}

button.light {
  background-color: #f8f9fa;
  color: #000;
}

button.dark {
  background-color: #212529;
  color: #fff;
}

/* Outlined buttons */
button.outlined {
  border: 1px solid;
  background-color: transparent;
}

button.primary.outlined {
  color: #0d6efd;
}

button.secondary.outlined {
  color: #6c757d;
}

button.success.outlined {
  color: #198754;
}

button.danger.outlined {
  color: #dc3545;
}

button.warning.outlined {
  color: #ffc107;
}

button.info.outlined {
  color: #0dcaf0;
}

button.light.outlined {
  color: #f8f9fa;
}

button.dark.outlined {
  color: #212529;
}